@model YungChingProgram.ViewModels.SingleCRUDViewModel

<div class="row form-horizontal form-label-left" style="margin-bottom:8px;">
    <label class="control-label col-md-2 col-sm-2 col-xs-12" style="font-size:16px;">
        部門名稱
    </label>
    <div class="col-md-2 col-sm-2 col-xs-12">
        <input class="form-control" id="queryDName" name="queryDName" />
    </div>
</div>
<div class="row form-horizontal form-label-left" style="margin-bottom:8px;">
    <label class="control-label col-md-2 col-sm-2 col-xs-12" style="font-size:16px;">
        部門類別
    </label>
    <div class="col-md-2 col-sm-2 col-xs-12">
        @Html.DropDownListFor(model => model.DTypeSelectList, Model.DTypeSelectList, new { id = "queryDType", @class = "form-control " })
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:right;">
        <button type="button" class="btn btn-primary" onclick="GetPartialViewDataList()">查詢</button>
        <button type="button" class="btn btn-danger" id="DeleteButton" disabled onclick="DeleteOpenTipModal()">刪除</button>
    </div>
</div>
<div class="x_content">
    <div class="row">
        <div class="col-sm-12" style="text-align:center;">
                <table style="width: 100%" class="table" border="1">
                    <thead>
                        <tr>
                            <th style="width: 3%;">選項</th>
                            <th style="width: 13%;">公司代碼</th>
                            <th style="width: 13%;">公司名稱</th>
                            <th style="width: 13%;">公司類別</th>
                            <th style="width: 13%;">公司人數</th>
                            <th style="width: 13%;"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
    </div>
</div>

<script>
    function GetPartialViewDataList() {
        $.ajax({
            url: '@Url.Action("SingleCRUDPartialView", "SingleCRUD")',
            data: {
                name: $('#queryDName').val(),
                type: $('#queryDType option:selected').val()
            },
            type: 'post',
            success: function (data) {
                $('#tbody').html(data);
            }
        })
    }

    //刪除資料
    function DeleteData() {
        var selectedIdArray = GetCheckSelectedIdArray()
        var postData = { didList: selectedIdArray };
        $.ajax({
            url: "@Url.Action("DeleteSingleCRUDDataList", "SingleCRUD")",
            data: postData,
            type: 'post',
            success: function (data) {
                if (data.result == "true") {
                $("#TipSpan").text("刪除成功");
                OpenTipModal();
                GetPartialViewDataList();
                $('#UpdateButton').attr('disabled', true);
                $('#DeleteButton').attr('disabled', true);
                }
                else if (data.result == "false") {
                    $("#TipSpan").text("刪除失敗");
                    OpenTipModal();
                }
                else {
                    $("#TipSpan").text(data.result);
                    OpenTipModal();
                }
              },
            traditional: true,
            error: function () {
                $("#TipSpan").text("刪除失敗");
                OpenTipModal();
            }
        });
    }

    //刪除提示畫面設定
    function DeleteOpenTipModal() {
        var selectedIdArray = GetCheckSelectedIdArray()
        $("#DeleteConfirm").attr('onclick', "DeleteData(" + selectedIdArray + ");");
        //var singleCRUDId = $("#singleCRUDData_" + i).find('#Did').text();
        $("#DeleteSpan").text("是否確定刪除部門編號 (" + selectedIdArray + ") 的資料?");
        OpenDeleteModal();
    }

    //顯示刪除提示
    function OpenDeleteModal() {
        $('#DeleteModal').modal({
            backdrop: 'static', keyboard: false
        });
    }

    //判斷選取數量
    function CheckCombox() {
        if ($(":checkbox:checked").length >= 2 || $(":checkbox:checked").length == 0) {
            if ($(":checkbox:checked").length == 0) {
                $('#DeleteButton').attr('disabled', true);
            }
            $('#UpdateButton').attr('disabled', true);
        }
        else {
            $('#UpdateButton').attr('disabled', false);
            $('#DeleteButton').attr('disabled', false);
        }
    }

    function GetCheckSelectedIdArray() {
        var Check = $("table input[type=checkbox]:checked").parent("td").parent("tr").find("#Did");//在table中找input下類型为checkbox屬性為選中狀態的數據，獲取選中行
        var selectedIdArray = new Array();
        Check.each(function () {
            selectedIdArray.push($(this).text());
        })
        return selectedIdArray
    }

    //點兩下勾選checkbox
    function ClickTrSelectedCheckBox(id) {
        var checkBox = $('#singleCRUDData_' + id).find('input[type=checkbox]');
        if (!checkBox.is(":checked")) {
            checkBox.prop("checked", true);
        }
        else {
            checkBox.prop("checked", false);
        }
        CheckCombox();
    }
</script>